.App {
  text-align: center;
  display: flex;
  font-family: "Starjedi";
}

.img {
  display: block;
  margin: 0 auto;
  height: 180px;
}

.title {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Starjedi";
}
